# Copy to .env (gitignored). Read at BUILD time by all four clients:
# Vite clients via envDir, the Angular client via scripts/gen-license-key.mjs.
# A variable set in the real environment (e.g. docker compose) wins over .env.
SURVEYJS_LICENSE_KEY=
